---
import Layout from "../layouts/Layout.astro"
import Experts from "../components/experts.astro"
import Experts2 from "../components/experts2.astro"
---
<Layout
  title="Subha Fertility - ABOUT"
  description="Subha Fertility Clinic in Bharatpur, Chitwan, offers expert IVF and fertility treatments with experienced specialists, personalized care, and advanced technology to help families achieve their dream of parenthood."
  image="https://subhafertility.org.np/logo.png"
  url="https://subhafertility.org.np/logo.png"
  >
    <main class="flex flex-col justify-center items-center" >
       <Experts />
      <Experts2 />
    </main>
</Layout>
