---
import Layout from "../layouts/Layout.astro"
import Form from "../components/form.jsx"
import Map from "../components/map.jsx"
import Experts from "../components/experts.astro"
---
<Layout 
  title="Subha Fertility - HOME"
  description="Subha Fertility Clinic in Bharatpur, Chitwan, offers expert IVF and fertility treatments with experienced specialists, personalized care, and advanced technology to help families achieve their dream of parenthood."
  image="https://subhafertility.org.np/logo.png"
  url="https://subhafertility.org.np/logo.png"
>
    <main class="flex items-center flex-col " >
       <Form client:load /> 
       <Map client:only="react" />
       <Experts /> 
    </main>
</Layout>
