 <header >
    <div class="flex flex-col justify-center items-center " >
      <div class="flex bg-linear-to-bl py-1 bg-blend-soft-light from-purple-100 via-fuchsia-100 to-pink-100 w-full md:pl-10 items-center " >
        <img src="/logo.png" class="w-15 h-15" alt="logo" />
        <h1 class="font-logo font-semibold text-2xl text-fuchsia-800 " >Subha fertility clinic</h1>
      </div>
        <slot/>
    </div>
  </header>
