@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme{
  --font-heading: "Inter";
  --font-logo: "Edu NSW ACT Cursive";
  --spacing-maxi: 340px;
  --color-main-primary: #FF90BB;
  --color-main-secondary: #FFC1DA;
  --color-main-background: #F8F8E1;
  --color-main-accent: #8ACCD5;
  --color-main-gray: #BDC3C6; 
  --color-main-black: #263238; 
}

@layer components{
  fieldset{
    @apply w-full max-w-[360px] min-w-[300px];
  }
}
