@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme{
  --font-heading: "Inter";
  --font-logo: "Poppins";
  --spacing-maxi: 340px;
  --color-main-primary: #FF90BB;
  --color-main-secondary: #FFC1DA;
  --color-main-background: #F8F8E1;
  --color-main-accent: #155E75;
  --color-main-gray: #4a5565; 
  --color-main-black: #263238; 
}

@layer components{
  body{
    background: #F9FAFB;
  }
/* in index.css or a global stylesheet */
.leaflet-pane,
.leaflet-top,
.leaflet-bottom {
  z-index: 0 !important;
}
}

